body {
background-image: url("../img/main.jpg");
background-repeat: no-repeat;
background-size: cover;
}

@font-face {
	font-family:fairy;
	src: url(../fonts/fairy.ttf);
}

h1 {
	color:#2010a0;
  font-family:fairy;
}

h2 {
	color:#2010a0;
	font-family:fairy;}

h3 {
	color:#2010a0;
	font-family:fairy;
}

a {
	color:#2010a0;
   font-family:fairy;
}

p {
	color:#2010a0;
   font-family:fairy;
}

img {
	width: 100%;
}


.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar { 
	color: #2010a0; 
}



